/*smaller than tablet is the default design*/
/*{
   border: solid 1px black;
}*/

body{
	margin:0px;
	padding:10px;

}

#wrap{

}

#banner{
	height:75px;
	margin-bottom: 20px;
	

}

nav{}

nav ul{
	margin: 0px;
	list-style: none;
	padding-left: 0px;
	
}

nav ul li{
	padding-top:15px;
	padding-bottom: 15px;
	height:25px;
	font-weight: bold;
	font-size: 18pt;
	color:gray;
	font-family: sans-serif;

}

nav ul li:hover{
	color:black;
	cursor:pointer;
}

nav ul li:active{
	color:white;
	background:black;
	cursor:pointer;
}

#anvilImage{
	display: none;
}

p{
	font-family: verdana;
	font-size: 10pt;
}

#mainArea{
	min-height:300px;
	width:100%;
	color:gray;
}

/*small devices (tablets, 768px and up)*/
@media(min-width: 768px){

	body{
		padding: 40px;
	}

	#wrap{
		padding: 20px;
		margin:0auto;
	}

	nav{
		
	}
	nav ul li{
		padding-top:15px;
		padding-bottom:15px;
		width:25%;
		float:left;
		height:25px;
		text-align:center;
		font-weight:bold;
		font-size:16pt;
		font-family:sans-serif;
	}

	#anvilImage{
	display: block;
	clear: both;
	}

	#column1{
		width:45%;
		padding-right: 15px;
		float:left;
	}

	#column2{
		width:45%;
		padding-left: 15px;
		float:left;
	}
}
